
<div class="wrap">
    <header>
        <a ui-sref="server">
            服务
        </a>
        <a ui-sref="jinrong">
            金融
        </a>
        <i class="icon iconfont icon-fangdajing"></i>
        <span class="line"></span>
    </header>
    <div class="scroll" id="main">
        <section>
            <h4 class="swiper-container">
                    <span class="swiper-wrapper">
                         <img class="swiper-slide" src="content/img/4.jpg" alt="">
                         <img class="swiper-slide" src="content/img/5.jpg" alt="">
                         <img class="swiper-slide" src="content/img/6.jpg" alt="">
                    </span>

            </h4>
            <div class="nav">
                <ul>
                    <li>
                        <i class="icon iconfont icon-youhuiquan-01"></i>
                        <span>车商城</span>
                    </li>
                    <li>
                        <i class="icon iconfont icon-youxiang"></i>
                        <span>分期购车</span>
                    </li>
                    <li>
                        <i class="icon iconfont icon-wenjian"></i>
                        <span>团购活动</span>
                    </li>
                    <li>
                        <i class="icon iconfont icon-daishouhuo-01"></i>
                        <span>找二手车</span>
                    </li>
                </ul>
                <h3>
                    <img src="content/img/bg.gif" alt="">
                </h3>
            </div>
            <main>
                <div class="server">
                    <h2>车主服务</h2>
                    <div class="list">
                        <ul>
                            <li>
                                <i class="icon iconfont icon-wenjian"></i>
                                <span>油卡充值</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-50"></i>
                                <span>低价保险</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-gongzuojilu"></i>
                                <span>4S店保养</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-faxiandingdan"></i>
                                <span>品质轮胎</span>
                            </li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <i class="icon iconfont icon-fengjing"></i>
                                <span>车品商城</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-wenjian"></i>
                                <span>洗车</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-zhifu-01"></i>
                                <span>违章代激</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-quanbudingdan-01"></i>
                                <span>免费测评</span>
                            </li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <i class="icon iconfont icon-dizhi-01"></i>
                                <span>查周边</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-wenjian"></i>
                                <span>车主卡</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-youhuiquan-01"></i>
                                <span>领劵保养</span>
                            </li>
                            <li>
                                <i class="icon iconfont icon-fenlei-xuanzhong"></i>
                                <span>全部</span>
                            </li>
                        </ul>
                    </div>
                    <div class="limit">
                        <h5>
                            <span>限时抢购</span>
                            <label>
                                <time>13</time>:<time>13</time>:<time>13</time>
                            </label>
                        </h5>
                        <div class="dlist">
                            <dl>
                                <dt>
                                    <img src="content/img/ban1.gif" alt="">
                                </dt>
                                <dd>
                                    <p>补胎工具简易套装</p>
                                    <h6><b>￥9.9元</b><small>28元</small></h6>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="content/img/ban2.gif" alt="">
                                </dt>
                                <dd>
                                    <p>车用椅背挂钩</p>
                                    <h6><b>￥9.9元</b><small>28元</small></h6>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="content/img/ban1.gif" alt="">
                                </dt>
                                <dd>
                                    <p>补胎工具简易套装</p>
                                    <h6><b>￥9.9元</b><small>28元</small></h6>
                                </dd>
                            </dl>
                        </div>

                    </div>
                    <div class="active">
                        <h4>
                            <span>活动专区</span>
                            <a href="#">更多活动 ></a>
                        </h4>
                        <div class="ulist">
                            <dl>
                                <dd>
                                    <P>侧身价炫富</P>
                                    <h6>身价大PK</h6>
                                </dd>
                                <dt>
                                    <img src="content/img/ban5.gif" alt="">
                                </dt>
                            </dl>
                            <dl>
                                <dd>
                                    <P>全场0利息</P>
                                    <h6>购车无压力</h6>
                                </dd>
                                <dt>
                                    <img src="content/img/ban4.gif" alt="">
                                </dt>
                            </dl><dl>
                            <dd>
                                <P>好车分析</P>
                                <h6>制定专属方案</h6>
                            </dd>
                            <dt>
                                <img src="content/img/ban3.gif" alt="">
                            </dt>
                        </dl>

                        </div>
                    </div>

                </div>
                <server></server>
                <!--数据渲染-->

            </main>
        </section>
    </div>
    <footer>
        <a href="">
            <i class="icon iconfont icon-iconhuidaoshouye"></i>
            <span>首页</span>
        </a>
        <a href="">
            <i class="icon iconfont icon-youdaoyunbiji"></i>
            <span>论坛</span>
        </a>
        <a href="">
            <i class="icon iconfont icon-xinxi"></i>
            <span>选车</span>
        </a>
        <a href="">
            <i class="icon iconfont icon-gouwuche"></i>
            <span>发现</span>
        </a>
        <a href="">
            <i class="icon iconfont icon-wode"></i>
            <span>木登录</span>
        </a>
    </footer>
</div>
